# Base de datos (se genera con create_db.py)
stocks.db

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite temporary files
*.db-shm
*.db-wal

# Databases
*.db
*.sqlite
*.sqlite3